
<form action="/new_space" method='post'>
  <label for="name">New space name:</label>
  <input type="text" name="name">
  <label for="description">Space description:</label>
  <input type="text" name="description">
  <label for="price">Price per night:</label>
  <input type="text" name="price">
  <input type="submit" name="submit">
</form>

<% if @spaces %>
  <% @spaces.each do |space| %>
  <li><%= space[:name]%> <%= space[:description] %> <%= space[:price] %> </li>
  <% end %>
<% end %>
