<!DOCTYPE html>

<!-- https://colorswall.com/palette/17/ -->

<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <style>
    </style>
    <title>Maker BnB</title>
  </head>

  <body style='background-color: <%= ["#F495FF", "#95BCFF", "#9FFF95", "#FFD295", "#AF7AC5"].sample %>'>
    <%= yield %>
  </body>
</html>
