<!DOCTYPE html>

<!-- https://colorswall.com/palette/17/ -->

<html>
  <head>
    <style>
    </style>
    <title>Maker BnB</title>
  </head>

  <body style="background-color: #558b2f">
    <%= yield %>
  </body>
</html>
