<!DOCTYPE html>

<!-- https://colorswall.com/palette/17/ -->

<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <style>

      .topnav {
        background-color: #33691e;
        overflow: hidden;
      }
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #76ff03;
        color: black;
      }

      .topnav a.active {
        background-color: #b2ff59;
        color: black;
      }

    </style>
    <title>Makers BnB</title>
  </head>

  <body style='background-color: <%= ["#F495FF", "#95BCFF", "#9FFF95", "#FFD295", "#AF7AC5"].sample %>'>
    <%= yield %>
  </body>
</html>
