<div class="topnav">
  <a name="home_button" href="/">Home</a>
  <a name="sign_out_button" href="/sign_out">Sign Out</a>
  <a name="my_spaces_button" href="/my_spaces">My Spaces</a>
  <a name="my_requests_button" href="/my_requests">My Requests</a>
  <a class='active' name="add_space" href="/new_space">Add Your Space</a>
</div>

<div>
  <h3>Add your property to Makers BNB</h3>
  <form action="/new_space" method='post' enctype='multipart/form-data'>
    <label for="space_name">Your space name:</label><br>
    <input type="text" name="space_name" required='required'><br>

    <label for="description">Description:</label><br>
    <textarea name="description" cols="40" rows="5" placeholder="Please include some details about your space" style="resize: none" required='required'></textarea><br>

    <label for="price">Price per night:</label><br>
    <input type="text" name="price" required='required'><br>

    <label for="start_date">Start date:</label><br/>
    <input type="text" name="start_date" placeholder="dd/mm/yy"><br/>

    <label for="end_date">End date:</label><br/>
    <input type="text" name="end_date" placeholder="dd/mm/yy"><br/>

    <label for='image_file'>Photograph:</label><br/>
    <input type='file' name='image_file'/>

    <input type="submit" name="Submit" value="Submit">
  </form>
</div>
