<div class="topnav">
  <a name="home_button" href="/">Home</a>
  <a name="sign_in_button" href="/sign_in">Sign In</a>
  <a class='active' name="register_button" href="/register">Register</a>
</div>

<h1>Makers BnB</h1>

<%= flash[:email_in_use] %>

<div>
  <h3>Register your account at Makers BnB</h3>
  <form action="/new_user" method='post'>
    <label for="name">Your name:</label><br>
    <input type="text" name="user_name" required='required'><br>

    <label for="email">Your email:</label><br>
    <input type="email" name="user_email" required='required' placeholder="youraddress@email.com"><br>

    <label for="password">Your password:</label><br>
    <input type="password" name="password" required='required'><br>

    <input type="submit" name="Save" value="Save">
  </form>
</div>
