<h1>Makers BnB</h1>

<div>
  <h3>Sign into your account at Makers BnB</h3>
  <form action="/sign_in" method='post'>

    <label for="email">Your account email:</label><br>
    <input type="email" name="user_email" required='required'><br>

    <label for="password">Your account password:</label><br>
    <input type="password" name="password" required='required'><br>

    <input type="submit" name="sign_in" value="Sign In">
  </form>
</div>
